<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登陆</title>
<style type="text/css">
*{margin: 0px;padding: 0px;outline: none;}
body{ 
	background-color: #9da1a3;
	
}
form{border: 1px solid #270644;width: 250px;-moz-border-radius: 20px;-webkit-border-radius: 20px;background: -moz-linear-gradient(19% 75% 90deg,#9da1a3, #963AD6);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9da1a3), to(#9da1a3));margin: 50px auto;padding: 20px;-moz-box-shadow: 0px -5px 300px #270644;-webkit-box-shadow: 0px -5px 300px #9da1a3;}
label{font-size: 12px;font-family: arial, sans-serif;list-style-type: none;color: #fff;text-shadow: #000 1px 1px;margin-bottom: 10px;font-weight: bold;letter-spacing: 1px;text-transform: uppercase;display: block;}
input{-webkit-transition-property: -webkit-box-shadow, background;-webkit-transition-duration: 0.25s;padding: 6px;border-bottom: 0px;border-left: 0px;border-right: 0px;border-top: 1px solid #9da1a3;-moz-box-shadow: 0px 0px 2px #000;-webkit-box-shadow: 0px 0px 2px #000;margin-bottom: 10px;background:#9da1a3;width: 230px;}
input.submit{-webkit-transition-property: -webkit-box-shadow, background;-webkit-transition-duration: 0.25s;width: 100px;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9da1a3), to(#9da1a3));background: -moz-linear-gradient(19% 75% 90deg,#781bb9, #9da1a3);color: #fff;text-transform: uppercase;text-shadow: #000 1px 1px;border-top: 1px solid #ad64e0;margin-top: 10px;}
input.submit: hover{-webkit-box-shadow: 0px 0px 2px #000;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));background: -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);}
input.submit: active{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#781bb9), to(#963AD6));background: -moz-linear-gradient(19% 75% 90deg,#963AD6, #781bb9);}
input: hover{-webkit-box-shadow: 0px 0px 4px #000;background: #9d39e1;}	
</style>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#password").attr("type","text");
	$("#password").focus(function(){
		$(this).select();
		$(this).attr("type","password");

		$(this).attr("value","");

		});
	
	$("#username").focus(function(){
		$(this).select();
		});
});
</script>
</head>
<body>

<form action="" method="post">
<label>Username:</label>
<input type="text" name="username" value="{{ username }}" id="username">
<label>Password:</label>
<input type="password" name="password" value="{{ password }}" id="password">
<input  type="submit" value="login"   class="submit" />

<input type="hidden" name="next" value="{{ next|escape }}" /></form>	
<label style="text-align: center; margin-top: -40px; color: #AD64E0;" id="errmsg">{% if errmsg %}{{ errmsg }}{% endif %}</label>
</body>
</html>